body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.button-choices {
	display: flex;
    flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

span.emoji {
	font-size: 50px;
	vertical-align: middle;
	line-height: 2;
}

.players {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 200px;
	font-size: 50px;
}

/* CSS */
button {
	align-items: center;
	background-color: rgba(240, 240, 240, 0.26);
	border: 1px solid #dfdfdf;
	border-radius: 16px;
	box-sizing: border-box;
	color: #000000;
	cursor: pointer;
	display: flex;
	font-family: Inter, sans-serif;
	font-size: 18px;
	justify-content: center;
	line-height: 28px;
	max-width: 100%;
	padding: 14px 22px;
	text-decoration: none;
	transition: all 0.2s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	width: 100%;
}

button:active,
button:hover {
	outline: 0;
}

button:hover {
	background-color: #ffffff;
	border-color: rgba(0, 0, 0, 0.19);
}

@media (min-width: 768px) {
	button {
		font-size: 20px;
		min-width: 200px;
		padding: 14px 16px;
	}
}
